html {
	font-family: Helvetica, Arial, sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	width: 600px;
	max-width: 90%;
	margin: 0 auto;
}
label {
	display: block;
	padding: 0.8em 0 0.2em 0;
}
button {
	display: block;
	float: right;
	font-size: 16px;
}
textarea,
input {
	width: 100%;
	width: calc(100% - 1.2em);
	padding: 0.6em;
	border: 1px solid #444;
	box-sizing: content-box;
	font-size: 16px;

}
textarea {
	height: 100px;
	background: transparent !important;
}
.error {
	color: red;
}
.info {
	color: orange;
}
.success {
	color: green;
}
.note {
	border: 1px solid #444;
	border-width: 0 1px 1px 1px;
	margin: 0;
	padding: 0.4em;
	background: #ddd;
}
.comments h4 {
	margin: 0.3em 0 0 0;
}
.comments p {
	margin: 0.4em 0 0 0;
}
.comments li {
	margin-bottom: 2em;
}
@supports (counter-reset: test) {
	.comments {
		counter-reset: comment;
		list-style-type: none;
	}
	.comments li {position: relative;}
	.comments li:before {
		counter-increment: comment;
		content: counters(comment,".") " ";
		font-size: 16px;
		position: absolute;
		left: -40px;
		top: 0;
		background: #ddd;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
}
