html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3;
	color: #111;
	width: 900px;
	max-width: 90%;
	max-width: calc(100vw - 40px);
	margin: 0 auto;
}

.message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	margin: 0;
	background: #eee;
}

.message--error {
	background: #DF0000FF;
	color: #fff;
}

.hidden {
	display: none;
}
