
/* main styles */
html,
body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background: #303F9F;
	color: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

header h1 {
	margin: 0;
	padding: 20px;
	font-weight: normal;
	float: left;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	display: block;
	float: left;
	padding: 26px 20px;
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
}

h2,
h3 {
	font-weight: normal;
}

h3 a {
	color: #111;
}

main {
	width: 1200px;
	max-width: 90%;
	max-width: calc(100% - 40px);
	margin: 0 auto;
	min-height: 100vh;
}

aside {
	min-height: 100vh;
}

@media all and (min-width: 1200px) {
		main .alpha {
			float: left;
			width: 72%;
		}
		aside {
			float: right;
			width: 25%;
	}
}

footer {
	clear: both;
	border-top: 1px solid #B6B6B6;
	padding: 20px;
}
