extends layout

block content
  h1 Demo showing push notifications

  article
    p Some demo text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut.

    h2 Some headline

    p Some demo text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut.

    p Some demo text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus aperiam id magni aliquam, consectetur vitae tempora laudantium sed omnis totam laboriosam nesciunt eaque quisquam voluptas voluptate, quis possimus aut.

    div(class='push-wrapper hidden')
      button(class='push-button')

