doctype html
html(lang="en")
    head
        if title
            title #{title} | image-orientation
        else
            title image-orientation

        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="theme-color", content="#50A")

        link(href="./css/main.css", rel="stylesheet")

    body

        block content 